
<template>

<div class="wrapper">
  <h1>Погодное приложение </h1>
  <p>Узнать погоду в {{ city == "" ? "вашем городе" : cityName }}</p>
  <input type="text" placeholder="Введите город" v-model="city" />
  <button v-if="city!=''">Получить погоду</button>
  <button disabled v-else="city!=''">Введите название города</button>

</div>

</template>

<script>
export default {
  data() {
    return {
      city: ""
    }
  },
  computed: {
    cityName() {
      return "<<" + this.city + ">>"
    }
  }
}
</script>



<style scoped>
.wrapper {
  width: 900px;
  height: 500px;
  border-radius: 50px;
  background: #1f0f24;
  text-align: center;
  color: white;
}

.wrapper h1 {
  margin-top: 50px;
}

.wrapper p {
  margin-top: 20px;
}

.wrapper input {
  margin-top: 30px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #110814;
  color: #fcfcfc;
  font-size: 14px;
  padding: 5px 8px;
  outline: none;
}

.wrapper input:focus {
  border-bottom-color: #6e2d7d;
}

.wrapper button {
  background: #e4bc4b;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #b99935;
  padding: 10px 15px;
  cursor: pointer;
  transition: transform 500mx ease;
}

.wrapper button:hover {
  transform: scale(1.1) translateY(-5px);
}

.wrapper button:disabled {
  background: #746027;
  cursor: not-allowed;
}

</style>
